.sidebar {

    background-color: $h4-about-background;
    color: $anchor-letter-color;
    line-height: 1.5;
    overflow: hidden;
    
    .about-content {
        
        padding: 1em;  
    }

    @media screen and (min-width: 1100px) {
        
        .cover-photo {

            height: 100%;
            background: url("images/cover-pictures/how-to-pit-cherries-michal-grosicki-unsplash.jpg") no-repeat left bottom;
            background-size: cover;
            
        }
    }
}