#products {

    h2 {

        color: black;
    }

    @media screen and (min-width: 1100px) {
        
        width: 90%;
        margin: 0 auto;
        
    }
}

.products-wrapper {

    article {

        width: 80%;
        margin: 1em auto;
        text-align: center;
        background-color: $anchor-letter-color;
        
    }

    img {

        width: 100%;
        display: block;
      
    }

    h4 {

        color: $span-title-color;
        background-color: $h4-about-background;
        margin-bottom: 0;
        
    }

    @media screen and (min-width: 560px) {
        
        @include flex-box;
        @include justify-content(center);
        @include flex-wrap;
  
        article {

            width: 40%;
            @include transition(width .5s ease-out, undefined);
        }
    }

    @media screen and (min-width: 800px) {
        
        article {

            width: 30%;
        }
    }

    @media screen and (min-width: 1200px) {

        
        article {

            width: 23%;
        }

    }

    @media screen and (min-width: 1500px) {
        
        article {

            width: calc(20% - 1em);
        }
    }
    
}

.products-text {

    padding: 1em;
    text-align: center;
    margin-bottom: 2em;
    line-height: 1.5;
    
    p {
        
        font-weight: bold;
        color: black;
    }
}